:root {
  --unit: 8;

  --white: #ffffff;
  --black: #000000;

  --gray-25: #fcfcfc;
  --gray-50: #fbfbfb;
  --gray-100: #f5f5f5;
  --gray-200: #e6e6e6;
  --gray-300: #cfcfcf;
  --gray-400: #9e9e9e;
  --gray-500: #7a7a7a;
  --gray-600: #676767;
  --gray-700: #545454;
  --gray-800: #393939;
  --gray-900: #1a1a1a;

  --error-25: #fffbfa;
  --error-50: #fef3f2;
  --error-100: #fee4e2;
  --error-200: #fecdca;
  --error-300: #fda29b;
  --error-400: #f97066;
  --error-500: #f04438;
  --error-600: #d92d20;
  --error-700: #b42318;
  --error-800: #912018;
  --error-900: #7a271a;

  --warning-25: #fffcf5;
  --warning-50: #fffaeb;
  --warning-100: #fef0c7;
  --warning-200: #fedf89;
  --warning-300: #fec84b;
  --warning-400: #fdb022;
  --warning-500: #f79009;
  --warning-600: #dc6803;
  --warning-700: #b54708;
  --warning-800: #93370d;
  --warning-900: #7a2e0e;

  --success-25: #f6fef9;
  --success-50: #ecfdf3;
  --success-100: #d1fadf;
  --success-200: #a6f4c5;
  --success-300: #6ce9a6;
  --success-400: #32d583;
  --success-500: #12b76a;
  --success-600: #039855;
  --success-700: #027a48;
  --success-800: #05603a;
  --success-900: #054f31;

  --information-25: #f5faff;
  --information-50: #eff8ff;
  --information-100: #d1e9ff;
  --information-200: #b2ddff;
  --information-300: #84caff;
  --information-400: #53b1fd;
  --information-500: #2e90fa;
  --information-600: #1570ef;
  --information-700: #175cd3;
  --information-800: #1849a9;
  --information-900: #19418;

  --text-xl-size: 1.25rem;
  --text-xl-line-height: 1.875rem;
  --text-lg-size: 1.125rem;
  --text-lg-line-height: 1.75rem;
  --text-md-size: 1rem;
  --text-md-line-height: 1.5rem;
  --text-sm-size: 0.875rem;
  --text-sm-line-height: 1.125rem;
  --text-xs-size: 0.75rem;
  --text-xs-line-height: 1.125rem;

  --text-light-weight: 300;
  --text-regular-weight: 400;
  --text-medium-weight: 500;
  --text-bold-weight: 700;
  --text-black-weight: 900;

  --shadow-xs: 0px 1px 2px rgba(26, 26, 26, 0.05);
  --shadow-sm: 0px 1px 3px rgba(26, 26, 26, 0.1),
    0px 1px 2px rgba(26, 26, 26, 0.06);
  --shadow-md: 0px 4px 8px -2px rgba(26, 26, 26, 0.1),
    0px 2px 4px -2px rgba(26, 26, 26, 0.06);
  --shadow-lg: 0px 12px 16px -4px rgba(26, 26, 26, 0.1),
    0px 4px 6px -2px rgba(26, 26, 26, 0.05);
  --shadow-xl: 0px 20px 24px -4px rgba(26, 26, 26, 0.1),
    0px 8px 8px -4px rgba(26, 26, 26, 0.04);
  --shadow-xxl: 0px 24px 48px -12px rgba(26, 26, 26, 0.25);
  --shadow-xxxl: 0px 32px 64px -12px rgba(26, 26, 26, 0.2);
}
