:root {
    --text-on-accent: rgba(255, 255, 255, 1);
    --text-weakest: #c0cdde;
    --text-weaker: #8e9aa8;
    --text-weak: #728192;
    --text-default: #515c68;
    --text-strong: #30363d;
    --text-accent: #32d583;
    --icon-on-accent: rgba(255, 255, 255, 1);
    --icon-weaker: #c0cdde;
    --icon-weak: #728192;
    --icon-default: #515c68;
    --icon-strong: #30363d;
    --button-default: rgba(255, 255, 255, 1);
    --button-disabled: rgba(255, 255, 255, 1);
    --button-hover: #ecf0f5;
    --button-focused: #ecf0f5;
    --accent-button-disabled: #cfcfcf;
    --accent-button-focused: #027a48;
    --accent-button-hover: #027a48;
    --accent-button-default: #32d583;
    --surface-raised: #f4f5f7;
    --surface-default: rgba(255, 255, 255, 1);
    --surface-floated: rgba(255, 255, 255, 1);
    --surface-active: #e2e8f0;
    --border-weak: #ecf0f5;
    --border-default: #e2e8f0;
    --border-strong: #687585;
    --border-accent: #32d583;
    --status-info-weak: #ebf0ff;
    --status-info-default: #2e5de8;
    --status-info-strong: #2448b5;
    --status-danger-weak: #fcebea;
    --status-danger-default: #e5322e;
    --status-danger-strong: #a32421;
    --status-warning-weak: #fffbec;
    --status-warning-default: #ffda3e;
    --status-warning-strong: #b59b2c;
    --status-success-weak: #e6f4ed;
    --status-success-default: #099149;
    --status-success-strong: #066734;
    --overlay-dimmed: rgba(0, 0, 0, 0.5);
    --overlay-sticky: rgba(255, 255, 255, 0.8);
    --background: rgba(255, 255, 255, 1);
}